<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://pic.jj20.com/up/allimg/1011/05241G14R6/1F524114R6-18.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="http://pic1.win4000.com/wallpaper/1/53bf5cf5628f2.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="http://pic.qiantucdn.com/58pic/17/92/91/90e58PICHxw_1024.jpg" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" 
        data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel" 
        data-slide="next">&rsaquo;
    </a>
</div>
